.breadcrumbs {
  font-size: 12px;
  background: #f6f6f6;
  padding: 3px 7px;
}

p {
  font-size: 15px;
  line-height: 1.3;
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 20px;
}

h2 {
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 35px;
  border-left: solid #69D2E7 30px;
  padding: 15px 8px;
}

h3, h4 {
  font-weight: bold;
}

h4 {
  font-size: 20px;
}

.highlight pre, .highlight code {
  background: white;
}

.iframe-demo {
  background-color: transparent;
  border: 0px none transparent;
  padding: 0px;
  margin: 30px auto 10px auto;
  display: block;
}

.iframe-note {
  text-align: right;
  font-size: 10px;
  padding-right: 10px;
}

.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.icon > svg path {
  fill: #ccc;
}

#sidebar-wrapper {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}

#sidebar-wrapper h1 {
  padding: 20px;
  color: #fff;
  margin-top: 0;
  text-transform: uppercase;
}

#sidebar-wrapper h1 a {
  color: #fff;
}

#sidebar-wrapper ul ul  {
  padding-left: 30px;
}

#sidebar-wrapper ul ul li a {
  color: #000;
  background: #d8e7f9;
  text-transform: none;
  font-size: 14px;
  line-height: 1.3;
}

#sidebar-wrapper ul ul li a:hover {
  background: #1c1d20;
  color: #fff;
}

blockquote {
  background: #eee;
  border-left-color: #ccc;
}

h1 {
  margin-bottom: 30px;
}

h1.sidebar-brand {
  margin-bottom: 0;
}

.subelements li, .subelements li > p:first-child {
  font-size: 18px;
}

.subelements li {
  padding-top: 15px;
}

#menu > li.expandable.closed > a::after {
  content: "\0003e";
  float: right;
  padding-right: 10px;
}

#menu > li.expandable > a::after {
  content: "\02228";
  float: right;
  padding-right: 10px;
}

#menu > li.expandable > ul {
  -webkit-transition: max-height 0.4s;
  transition: max-height 0.4s;
  max-height: 400px;
  overflow: hidden;
}

#menu > li.expandable.closed > ul {
  -webkit-transition: max-height 0.4s;
  transition: max-height 0.4s;
  max-height: 0;
}
